// Sizes
$card-max-width: 400px;
$header-height: 60px;
$sidebarWidth: 20%;

// Colors
$primary-color-header:  rgba(0, 0, 0, 0.932);
$secondary-color-header: #404552;
$divider-color: #7442f9e3;
$header-color: $primary-color-header;
$header-color-secondary: $secondary-color-header;
$menu-selected-background: #dec200;
$primary-title: #a9951a;
$secondary-title: #a91010c4;

$secondary-menu-color: #dddddd7d;
$title-reverse: #ffdf00a1;
$menu-background: $primary-color-header;

